:root{
  --primary-one: #fff;
  --primary-two: #f4f5f7;

  --primary-deep: #42526e;
  --primary-deep-one: #253858;

  --button-border: #0052cc;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1;
}
img{
width:100%
}
a{
    text-decoration: none;
}
li{
list-style: none;
}
.icons{
  color: #0052cc;
}
/* main navbar */
.logo{
  width:193px;
margin-left: 16px;
margin-right: 25px;
}
.navbar{
display: flex;
justify-content: space-between;
background-color:#f4f5f7 ;
align-items: center;
height: 72px;
}
.navbarleft{
  display: flex;
  align-items: center;
}
.navicons{
font-size:10px;
margin-left: 0.5rem;
}
.navbarleft a{
  color:var(--primary-deep);

}
.navbarright a{
  color:#0052cc;

}
.navbarrighticon{
  color:grey;
  font-size:18px;
  
}
.con{
  border-right: 1px solid #dfe1e5;
 padding-right:25px;

}
.accountspan{
  padding-left:10px;
}
.iconcircle{}
.men{margin-right: 30px;}
.menu{
  display: flex;
  gap:2em;
  background-color: #f4f5f7;
}
.menu a{ 
  padding:5px 7px;
  display:block;
}
.menu  a:hover{background-color: teal; border-radius:5px;}
input[type="checkbox"]{
  display: none;
}
.hamburger{
  padding-top: 12px;
  margin-left: 75px;
  display:none;
  color: #0052cc;
}
@media (max-width:768px){
  .menu{
      display: none;
  }
  .hamburger{
      display: block;
  }
  input[type=checkbox]:checked ~ .menu1{
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      text-align: center;
      margin-top: 1rem;
  }

}
/* end of main navbar */

/* second navbar */
.jiralogo{
  width:215px;
  margin-left:16px;
  margin-right:32px;
}
.secondnavbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:60px;
  box-shadow: 0px 5px 8px grey;
  background-color: #fff;
  }
  .secondnavbarleft{
    display: flex;
    align-items: center;
  }
  .secondnavbarli{
    display: flex;
    gap:1.8em;
  
  }
  .secondnavbarli a{
    color:#0052cc;

  }
  .secondnavbarli a:hover{
    border-bottom: 2px solid grey;
    padding-bottom: 16px; 

  }
  .secondnavfreebutton{
    border: 1px solid #0052cc;
    color: #0052cc;
    background-color: transparent;
    padding: 5px 10px;
    margin-right: 25px;
    border-radius: 3px;

  }

  





























